<h1><%= message %></h1>

<p>We are located in the center of Foggy Bottom, near Hotel Hive</p>
<p>2224 F St NW, Washington, DC 20037</p>
<p>Come Visit Us!</p>
<div 
    <center><img src="images/map.png" alt="map" width="675" height="450"></center>
  </div>
